RewriteEngine On
RewriteCond %{HTTP_HOST} ^facundoguerrero\.com$ [NC]
RewriteRule ^(.*)$ http://www.facundoguerrero.com/$1 [R=301,L] 
RewriteCond %{HTTP_HOST} ^facundoguerrero\.com.ar$ [NC]
RewriteRule ^(.*)$ http://www.facundoguerrero.com.ar/$1 [R=301,L] 
